

body {
    background-color: rgb(240, 240, 240);
    font-family: 'Ubuntu', sans-serif;
    font-size: large;
    margin: 0px;
}

@keyframes logo {
    0% {
        width: 350px;
    }
    50% {
        width: 325px;
    }
    100% {
        width: 350px;
    }
}
 
.logo {
    animation-name: logo;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-duration: 3s;
}

.logoContainer {
    width: 350px;
}

.fondo {
    background-color: rgb(150, 150, 150, 0.250);
}

.titulo {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.cabeza {
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(150, 150, 150));
    position: fixed;
    height: 75px;
    width: 100%;
    z-index: 999;
}

@media (max-width: 527px) {
    .cabeza {
        height: 275px;
    }
    .menu {
        display: none;
    }
}

@media (min-width: 527px) and (max-width: 1024px) {
    .cabeza {
        height: 275px;
    }
    .menu {
        display: none;
    }
}

.menuInside {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.principal {
    display: grid;
    justify-content: center;
    grid-template-areas:    "producto1 producto2 producto3" 
                            "producto4 producto5 producto6";
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

@media (max-width: 527px) {
    .principal {
        grid-template-areas:    "producto1"
                                "producto2"
                                "producto3"
                                "producto4"
                                "producto5"
                                "producto6";
        grid-template-columns: 300px;
        grid-template-rows: 300px 300px 300px 300px 300px 300px;
    }
}

@media (min-width: 527px) and (max-width: 1024px) {
    .principal {
        grid-template-areas:    "producto1 producto2"
                                "producto3 producto4"
                                "producto5 producto6";
        grid-template-columns: 300px 300px;
        grid-template-rows: 300px 300px 300px;
    }
}

.carrito {
    text-align: center;
    height: 450px;
    overflow: scroll;
    overflow-x: hidden;
}

.pie {
    text-align: center;
    background-color: rgb(150, 150, 150, 0.250);
    background-image: url("../images/logo.png");
    background-size: contain;
}

.center {
    text-align: center;
    margin: auto;
    width: 75%;
    border: 5px solid rgb(150, 150, 150, 0.250);
    padding: 5px;
}

@media (max-width: 527px) {
    .center {
        margin-top: 125px;
    }
}

.twocolumns {
    column-count: 2;
    column-gap: 40px;
    column-rule: 5px solid rgb(150, 150, 150, 0.250);
}

.link {
    text-decoration: none;
}

h3 {
    column-span: all;
}

button, .form {
    border-radius: 10px;
    outline: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}

.buttonMenu {
    padding: 15px;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 20px;
    font-weight: bold;
}

@media (min-width: 527px) and (max-width: 1024px) {
    .buttonMenu {
        padding: 10px;
        padding-right: 30px;
        padding-left: 30px;
        font-size: 15px;
        font-weight: bold;
    }
}

.buttonMenu:hover {
    border: 2px dashed black;
    border-radius: 5px;
}

.whatsapp {
    display: inline-block;
    position: fixed;
    bottom: 0px;
    z-index: 9999999;
    right: 0px;
    left: auto;
    margin-right: 10px;
    margin-bottom: 10px;
}

@media (max-width: 527px) {
    .whatsapp {
        height: 50px;
        width: 50px;
    }
}

@media (min-width: 527px) and (max-width: 1024px) {
    .whatsapp {
        height: 75px;
        width: 75px;
    }
}

/* Modificaciones en bootstrap */
.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}
/* Botones de redes */
ul.socialIcons {
    padding: 0;
    text-align: center;
}
  
  .socialIcons li {
    list-style: none;
    display: inline-block;
    margin: 4px;
    border-radius: 2em;
    overflow: hidden;
}
  
  .socialIcons li a {
    display: block;
    padding: 0.5em;
    min-width: 40px;
    max-width: 1.28571429em;
    height: 40px;
    white-space: nowrap;
    line-height: 1.5em; /*it's working only when you write text with icon*/
    transition: 0.5s;
    text-decoration: none;
    font-family: arial;
    color: #fff;
}
  
  .socialIcons li i {
    margin-right: 0.5em;
}
  
  .socialIcons li:hover a {
    max-width: 200px;
    padding-right: 1em;
}
  
  .socialIcons .instagram {
    background-color: magenta;
    box-shadow: 0 0 16px magenta;
}

  .socialIcons .facebook {
    background-color: blue;
    box-shadow: 0 0 16px blue;
}
    
  .socialIcons .twitter {
    background-color: cyan;
    box-shadow: 0 0 16px cyan;
}